body {
    width: 350px;
    background-color: #fff !important;
    padding: 10px;
    text-align: center;
    transition: background-color .75s ease;
    font-size: 13px;
    font-family: 'Helvetica Neue', 'Lucida Grande', sans-serif
}

#title {
    font-family: 'Norwester', 'Helvetica Neue', 'Lucida Grande', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 10px
}

#caption {
    font-family: 'Norwester', 'Helvetica Neue', 'Lucida Grande', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0
}

.onboarding {
    font-family: sans-serif;
    border-top: solid #000 1px;
    font-weight: 500;
    padding-top: 2%;
    font-size: medium
}

#onffbox {
    appearance: none
}

#onffmain {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 55px;
    height: 25px;
    border: 0 solid #ff8585;
    border-radius: 20px;
    transition: .2s;
    background: #ff8585
}

#onffball {
    position: absolute;
    display: inline-block;
    width: 21px;
    height: 21px;
    top: 2px;
    left: 4px;
    border: 0 solid #ff3737;
    border-radius: 20px;
    transition: .2s;
    background: #ff3737
}

#onffbox:checked+#onffmain {
    border: 0 solid #8faadc;
    background: #8faadc
}

#onffbox:checked+#onffmain #onffball {
    left: 30px;
    border: 0 solid #2f5496;
    background: #2f5496
}

.select-menu {
    width: 380px;
    margin: 140px auto
}

.select-menu .select-btn {
    display: flex;
    height: 55px;
    background: #fff;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
}

.select-btn i {
    font-size: 25px;
    transition: .3s
}

.select-menu.active .select-btn i {
    transform: rotate(-180deg)
}

.select-menu .options {
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: none
}

.select-menu.active .options {
    display: block
}

.options .option {
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff
}

.options .option:hover {
    background: #F2F2F2
}

.option i {
    font-size: 25px;
    margin-right: 12px
}

.option .option-text {
    font-size: 18px;
    color: #333
}

a:hover,
a:focus {
    animation-duration: 1.5s;
    animation-name: rainbowLink;
    animation-iteration-count: infinite
}

@keyframes rainbowLink {
    0% {
        color: #ff2a2a
    }

    15% {
        color: #ff7a2a
    }

    30% {
        color: #ffc52a
    }

    45% {
        color: #43ff2a
    }

    60% {
        color: #2a89ff
    }

    75% {
        color: #202082
    }

    90% {
        color: #6b2aff
    }

    100% {
        color: #e82aff
    }
}