body {
    /* background-color: #363636 !important; */
    background-color: white !important;
    padding: 10px;
    text-align: center;
    transition: background-color 0.75s ease;
    font-family: 'Helvetica Neue', 'Lucida Grande', sans-serif;
  }
  
  #title {
    font-family: 'Norwester', 'Helvetica Neue', 'Lucida Grande', sans-serif;
    font-size: 5em;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  
  .caption {
    font-family: 'Norwester', 'Helvetica Neue', 'Lucida Grande', sans-serif;
    font-size: 1.5em;
    font-weight: normal !important;
    margin-top: 3px !important;
    margin-bottom: 0px;
  }
  #error {
    font-family: 'Norwester', 'Helvetica Neue', 'Lucida Grande', sans-serif;
    font-weight: normal !important;
    font-size: 1.3em;
    color: red !important;
    margin-bottom: 0px;
  }
  
  #success {
    font-family: 'Norwester', 'Helvetica Neue', 'Lucida Grande', sans-serif;
    font-size: 1.3em;
    font-weight: bold !important;
    color: #0078c3 !important;
    margin-bottom: 0px;
  }
  
  #unlink {
    font-family: 'Norwester', 'Helvetica Neue', 'Lucida Grande', sans-serif;
    font-size: 1.3em;
    font-weight: bold !important;
    color: #0078c3 !important;
    margin-bottom: 0px;
  }
  
  p {
    color: white !important;
  }

  .onboarding {
    font-family: sans-serif;
    border-top: solid white 1px;
    font-weight: 500;
    font-size: medium;
  }
  
  a {
    color: #4d4d4d;
    cursor: pointer;
  }

  a:hover, a:focus { animation-duration: 3s; animation-name: rainbowLink; animation-iteration-count: infinite; } 
@keyframes rainbowLink {     
 0% { color: #ff2a2a; }
 15% { color: #ff7a2a; }
 30% { color: #ffc52a; }
 45% { color: #43ff2a; }
 60% { color: #2a89ff; }
 75% { color: #202082; }
 90% { color: #6b2aff; } 
 100% { color: #e82aff; }
}